body{
	padding: 0;
	margin: 0;
	font-family: 'Comfortaa', sans-serif;
	color: 000;
	font-size: 18px;

}
ul, li{
	display: block;
}

.container{
	margin-right: 250px;
	margin-left: 250px;
}
.menu{
	display: flex;
	justify-content:space-between;
	padding: 0;
}

.menu li a{
	color: #828282;
	text-decoration: none;
}

.menu li a:hover{
	color:black;
}

.mainhr{
	margin-top: 33px;
	text-align: center;
	width: 100%;
}
.maintext{
	display: flex;
	justify-content:space-between;
}
.higthtext{
	font-weight: bold;
	font-size: 47px;
	margin: 0;
}
.centertext{
	margin-top: 95px;
}
.rigthtext{
	font-size: 16px;
	writing-mode: vertical-lr;
	transform: rotate(180deg);
}
.lefttext{
	margin-top: 40px;
}
.gray{
	color:#828282;
}
.mainpicture{
	margin-top: 50px;
	margin-bottom: 104px;
	text-align: center;
}
.header{
	margin-top: 33px;
	margin-bottom: 104px;
}



.section{
	background:#F6F6F6;
	margin: 0;
	padding: 0;
	font-size: 16px;
}

.info{
	padding: 120px 480px 107px 480px;
	text-align: center;
}
.unit{
	margin-top: 18px;
}




.section2{
	background:#fff;
	margin: 0;
	padding: 0;
	font-size: 16px;
}
.textpage3{
	padding: 91px 609px 84px 609px;
	text-align: center;
}
.programs{
	margin-top: 70px;
}
.pictureblock{
	display: flex;
	justify-content: space-between;
	margin-left: 253px;
	margin-right: 253px;
	margin-bottom: 110px;
}


.section3{
	background:#F6F6F6;
	margin: 0;
	padding: 0;
	font-size: 16px;
}
.head h1{
	font-size: 43px;

}
.head{
	text-align: center;
}
.picturebox{
	text-align: center;
}
.namepicture{
	margin-top: 45px;
	margin-bottom: 99px;
}
.portfolio{
	padding-top: 112px;
	padding-bottom: 97px;
}
#last{
	margin-bottom: 0;
}


.sextion4{
	background:#000;
	margin: 0;
	padding: 0;
	font-size: 16px;
}
.footer{
	padding-top: 114px;
	padding-bottom: 123px;
}
.web{
	display: flex;
	justify-content: space-between;
	margin-left: 550px;
	margin-right: 550px;
	margin-bottom: 46px;
}
.contact{
	text-align: center;
}
.contact h1{
	margin-bottom: 20px;
}
.aftertext{
	margin-bottom: 30px;
}
.message{
	margin-bottom: 92px;
	border: 13px solid black;
	color: white;
	background: black;
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 10em;
}
.message a{
	text-decoration: none;
	color: white;
}
.lasttext{
	text-align: center;
	font-size: 14px;
}